{
  "prettier.blockNoEmpty": true,
  "prettier.color-no-invalid-hex": true,
  "prettier.declaration-colon-space-after": "always",
  "prettier.declaration-colon-space-before": "never",
  "prettier.function-comma-space-after": "always",
  "prettier.function-url-quotes": "double",
  "prettier.media-feature-colon-space-after": "always",
  "prettier.media-feature-colon-space-before": "never",
  "prettier.media-feature-name-no-vendor-prefix": true,
  "prettier.max-empty-lines": 5,
  "prettier.number-leading-zero": "never",
  "prettier.number-no-trailing-zeros": true,
  "prettier.property-no-vendor-prefix": true,
  "prettier.rule-no-duplicate-properties": true,
  "prettier.declaration-block-no-single-line": true,
  "prettier.rule-trailing-semicolon": "always",
  "prettier.selector-list-comma-space-before": "never",
  "prettier.selector-list-comma-newline-after": "always",
  "prettier.selector-no-id": true,
  "prettier.string-quotes": "double",
  "prettier.value-no-vendor-prefix": true,
  "prettier.printWidth": 200
}
